<% provide(:title, 'About Us') %>
<h1>About</h1>
<p>
I created this sample application with basic Ruby on Rails to showcase my technical skills. Under version control with Git, I was able to deploy this Rails application on Heroku. 
</p>