<div class="center hero-unit">
  <h1>The Sales Extraordinaire</h1>

  <h2>
    Check out Fay's 
    <a href="http://linkedin.com/in/fayhernandez">LinkedIn Profile</a> to learn more.
  </h2>

  <%= link_to "Sign up to network with Fay!", signup_path, class: "btn btn-large btn-primary" %>
</div>
