<footer class="footer">
  <small>
    A sample app created by Fay Hernandez
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://linkedin.com/in/fayhernandez">LinkedIn</a></li>
    </ul>
  </nav>
</footer>
